/*---- Importing font -----------------------*/
/*-------------------------------------------*/
// Inter
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap");


/*---- Helpers ------------------------------*/
/*-------------------------------------------*/

// px to rem
@function rem($size) {
  @return $size / $g-font-size * 1rem;
}

// change color depending on background color
@function set-color($color) {
  @if (lightness($color) > 60) {
    @return #000;
  } @else {
    @return #fff;
  }
}

// media queries
@mixin laptop-md {
  @media (min-width: 992px) and (max-width: 1366px) {
    @content;
  }
}

@mixin tablet {
  @media (max-width: 800px) {
    @content;
  }
}

/*---- Variables ----------------------------*/
/*-------------------------------------------*/

// Global
$g-body-background-color: #fff;
$g-text-color: #656c7c;
$g-font-family: Inter, sans-serif;
$g-font-size: 16px;
$g-line-height: 1.5;

// Section title
$sect-title-headline-fs: rem(32px);
$sect-title-headline-fw: 700;
$sect-title-headline-color: #000;
$sect-title-desc-fs: $g-font-size;
$sect-title-desc-color: $g-text-color;

// Pricing Table
$price-width: rem(360px);
$prc-border-color: #e6e6e6;
$prc-variant-title-color: #000;
$prc-variant-badge-bg: #fdb72e;
$prc-button-bg: #ffecf0;
$prc-button-color: #ea4c89;

$prc-enterprise-bg: #1769ff;

/*---- Reset --------------------------------*/
/*-------------------------------------------*/
%mp-0 {
  padding: 0;
  margin: 0;
}

* {
  box-sizing: border-box;
}

:focus {
  outline: none;
}

a {
  text-decoration: none;
}

body {
  @extend %mp-0;
  background-color: $g-body-background-color;
  color: $g-text-color;
  font-family: $g-font-family;
  font-size: $g-font-size;
  line-height: $g-line-height;

  @include laptop-md {
    font-size: $g-font-size / 1.05;
  }
}

.app {
  .section {
    margin-bottom: rem(85px);
    @include laptop-md {
      margin-bottom: rem(85px) / 1.5;
    }
    @include tablet {
      margin-bottom: rem(85px) / 1.5;
    }
    &__title {
      margin-top: rem(95px);
      margin-bottom: rem(70px);
      text-align: center;

      @include laptop-md {
        margin-top: rem(95px) / 1.5;
        margin-bottom: rem(70px) / 1.5;
      }

      @include tablet {
        margin-top: rem(95px) / 1.5;
        margin-bottom: rem(70px) / 1.5;
      }

      h2,
      p {
        margin: 0;
      }

      h2 {
        font-size: $sect-title-headline-fs;
        font-weight: $sect-title-headline-fw;
        margin-bottom: rem(8.5px);
        color: $sect-title-headline-color;
        @include laptop-md {
          font-size: $sect-title-headline-fs / 1.05;
        }
        @include tablet {
          line-height: 1.25;
          padding: 0 3rem;
          font-size: $sect-title-headline-fs / 1.1;
        }
      }
      p {
        color: $sect-title-desc-color;
        font-size: $sect-title-desc-fs;
      }
    }

    &__pricing-table {
      display: flex;
      justify-content: center;
      gap: rem(20px);
      flex-wrap: wrap;

      .price {
        flex-basis: $price-width;
        border: 1px solid $prc-border-color;
        background: #fff;
        border-radius: 16px;
        padding: 32px 24px;
        display: inline-flex;
        flex-direction: column;
        transition: 300ms ease-in-out;

        @include tablet {
          &:last-child {
            flex-basis: 97%;
          }
        }

        &__variant {
          display: flex;
          align-items: center;
          margin-bottom: rem(24px);
          svg {
            max-width: 42px;
            max-height: 42px;
            object-fit: contain;
            object-position: center;
          }
          h4 {
            font-size: rem(24px);
            font-weight: normal;
            color: $prc-variant-title-color;
            margin: 0 0 0 rem(15px);
            @include laptop-md {
              font-size: rem(24px) / 1.05;
            }
          }
          .badge {
            margin-left: auto;
            background: $prc-variant-badge-bg;
            border-radius: 40px;
            padding: rem(8px) rem(17px);
            font-size: $g-font-size - 0.5px;
            font-weight: 600;
            color: set-color($prc-variant-badge-bg);
          }
        }

        &__desc {
          margin-bottom: rem(30px);

          @include laptop-md {
            margin-bottom: rem(30px) / 1.5;
          }
          p {
            line-height: 1.45;
          }
          p:last-child {
            margin: 0;
          }
        }

        &__cost {
          color: #656c7c;
          font-size: $g-font-size;
          display: flex;
          align-items: center;
          margin-bottom: rem(30px);
          @include laptop-md {
            margin-bottom: rem(30px) / 1.5;
          }
          strong {
            font-weight: 600;
            color: #000;
            font-size: rem(32px);
            margin-right: rem(8px);
          }
        }

        &__features {
          margin-bottom: rem(90px);
          @include laptop-md {
            margin-bottom: rem(90px) / 1.5;
          }
          ul {
            list-style: none;
            padding: 0;
            margin: 0;
            li {
              display: flex;
              align-items: center;
              font-weight: 500;
              color: #000;
              font-size: $g-font-size;
              &:not(:last-child) {
                margin-bottom: rem(25px);
                @include laptop-md {
                  margin-bottom: rem(25px) / 1.2;
                }
              }
              svg {
                margin-right: rem(15px);
                max-width: 18px;
                max-height: 18px;
                object-fit: contain;
                object-position: center;
                path {
                  fill: #ea455f;
                }
              }
              &.not-included {
                color: #b1b8c9;
                svg path {
                  fill: #b1b8c9;
                }
              }
            }
          }
        }

        &__button {
          width: 100%;
          display: block;
          border-radius: 8px;
          padding: 15px 0;
          text-align: center;
          font-weight: 600;
          border: 1px solid transparent;
          background: $prc-button-bg;
          color: $prc-button-color;
          transition: 300ms ease-in-out;
          margin-top: auto;

          &:hover {
            background: $prc-button-color;
            color: #fff;
          }
        }

        &.price-pro {
          box-shadow: 0px 14px 30px rgba(204, 204, 204, 0.32);
          border-color: #fff;
        }

        &.price-enterprise {
          background: $prc-enterprise-bg;
          .price__variant h4,
          .price__desc p,
          .price__cost strong,
          .price__features li {
            color: #fff;
          }

          .price__features li svg path {
            fill: #fff;
          }
          .price__button {
            background: #fff;
            color: $prc-button-color;
            &:hover {
              background: $prc-enterprise-bg;
              color: set-color($prc-enterprise-bg);
              border-color: set-color($prc-enterprise-bg);
            }
          }
        }
      }
    }
  }
}
