/*---- Importing font -----------------------*/
/*-------------------------------------------*/
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap");
/*---- Helpers ------------------------------*/
/*-------------------------------------------*/
/*---- Variables ----------------------------*/
/*-------------------------------------------*/
/*---- Reset --------------------------------*/
/*-------------------------------------------*/
body {
  padding: 0;
  margin: 0;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

:focus {
  outline: none;
}

a {
  text-decoration: none;
}

body {
  background-color: #fff;
  color: #656c7c;
  font-family: Inter, sans-serif;
  font-size: 16px;
  line-height: 1.5;
}

@media (min-width: 992px) and (max-width: 1366px) {
  body {
    font-size: 15.2381px;
  }
}

.app .section {
  margin-bottom: 5.3125rem;
}

@media (min-width: 992px) and (max-width: 1366px) {
  .app .section {
    margin-bottom: 3.54167rem;
  }
}

@media (max-width: 800px) {
  .app .section {
    margin-bottom: 3.54167rem;
  }
}

.app .section__title {
  margin-top: 5.9375rem;
  margin-bottom: 4.375rem;
  text-align: center;
}

@media (min-width: 992px) and (max-width: 1366px) {
  .app .section__title {
    margin-top: 3.95833rem;
    margin-bottom: 2.91667rem;
  }
}

@media (max-width: 800px) {
  .app .section__title {
    margin-top: 3.95833rem;
    margin-bottom: 2.91667rem;
  }
}

.app .section__title h2,
.app .section__title p {
  margin: 0;
}

.app .section__title h2 {
  font-size: 2rem;
  font-weight: 700;
  margin-bottom: 0.53125rem;
  color: #000;
}

@media (min-width: 992px) and (max-width: 1366px) {
  .app .section__title h2 {
    font-size: 1.90476rem;
  }
}

@media (max-width: 800px) {
  .app .section__title h2 {
    line-height: 1.25;
    padding: 0 3rem;
    font-size: 1.81818rem;
  }
}

.app .section__title p {
  color: #656c7c;
  font-size: 16px;
}

.app .section__pricing-table {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 1.25rem;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.app .section__pricing-table .price {
  -ms-flex-preferred-size: 22.5rem;
      flex-basis: 22.5rem;
  border: 1px solid #e6e6e6;
  background: #fff;
  border-radius: 16px;
  padding: 32px 24px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-transition: 300ms ease-in-out;
  transition: 300ms ease-in-out;
}

@media (max-width: 800px) {
  .app .section__pricing-table .price:last-child {
    -ms-flex-preferred-size: 97%;
        flex-basis: 97%;
  }
}

.app .section__pricing-table .price__variant {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 1.5rem;
}

.app .section__pricing-table .price__variant svg {
  max-width: 42px;
  max-height: 42px;
  -o-object-fit: contain;
     object-fit: contain;
  -o-object-position: center;
     object-position: center;
}

.app .section__pricing-table .price__variant h4 {
  font-size: 1.5rem;
  font-weight: normal;
  color: #000;
  margin: 0 0 0 0.9375rem;
}

@media (min-width: 992px) and (max-width: 1366px) {
  .app .section__pricing-table .price__variant h4 {
    font-size: 1.42857rem;
  }
}

.app .section__pricing-table .price__variant .badge {
  margin-left: auto;
  background: #fdb72e;
  border-radius: 40px;
  padding: 0.5rem 1.0625rem;
  font-size: 15.5px;
  font-weight: 600;
  color: #fff;
}

.app .section__pricing-table .price__desc {
  margin-bottom: 1.875rem;
}

@media (min-width: 992px) and (max-width: 1366px) {
  .app .section__pricing-table .price__desc {
    margin-bottom: 1.25rem;
  }
}

.app .section__pricing-table .price__desc p {
  line-height: 1.45;
}

.app .section__pricing-table .price__desc p:last-child {
  margin: 0;
}

.app .section__pricing-table .price__cost {
  color: #656c7c;
  font-size: 16px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 1.875rem;
}

@media (min-width: 992px) and (max-width: 1366px) {
  .app .section__pricing-table .price__cost {
    margin-bottom: 1.25rem;
  }
}

.app .section__pricing-table .price__cost strong {
  font-weight: 600;
  color: #000;
  font-size: 2rem;
  margin-right: 0.5rem;
}

.app .section__pricing-table .price__features {
  margin-bottom: 5.625rem;
}

@media (min-width: 992px) and (max-width: 1366px) {
  .app .section__pricing-table .price__features {
    margin-bottom: 3.75rem;
  }
}

.app .section__pricing-table .price__features ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.app .section__pricing-table .price__features ul li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: 500;
  color: #000;
  font-size: 16px;
}

.app .section__pricing-table .price__features ul li:not(:last-child) {
  margin-bottom: 1.5625rem;
}

@media (min-width: 992px) and (max-width: 1366px) {
  .app .section__pricing-table .price__features ul li:not(:last-child) {
    margin-bottom: 1.30208rem;
  }
}

.app .section__pricing-table .price__features ul li svg {
  margin-right: 0.9375rem;
  max-width: 18px;
  max-height: 18px;
  -o-object-fit: contain;
     object-fit: contain;
  -o-object-position: center;
     object-position: center;
}

.app .section__pricing-table .price__features ul li svg path {
  fill: #ea455f;
}

.app .section__pricing-table .price__features ul li.not-included {
  color: #b1b8c9;
}

.app .section__pricing-table .price__features ul li.not-included svg path {
  fill: #b1b8c9;
}

.app .section__pricing-table .price__button {
  width: 100%;
  display: block;
  border-radius: 8px;
  padding: 15px 0;
  text-align: center;
  font-weight: 600;
  border: 1px solid transparent;
  background: #ffecf0;
  color: #ea4c89;
  -webkit-transition: 300ms ease-in-out;
  transition: 300ms ease-in-out;
  margin-top: auto;
}

.app .section__pricing-table .price__button:hover {
  background: #ea4c89;
  color: #fff;
}

.app .section__pricing-table .price.price-pro {
  -webkit-box-shadow: 0px 14px 30px rgba(204, 204, 204, 0.32);
          box-shadow: 0px 14px 30px rgba(204, 204, 204, 0.32);
  border-color: #fff;
}

.app .section__pricing-table .price.price-enterprise {
  background: #1769ff;
}

.app .section__pricing-table .price.price-enterprise .price__variant h4,
.app .section__pricing-table .price.price-enterprise .price__desc p,
.app .section__pricing-table .price.price-enterprise .price__cost strong,
.app .section__pricing-table .price.price-enterprise .price__features li {
  color: #fff;
}

.app .section__pricing-table .price.price-enterprise .price__features li svg path {
  fill: #fff;
}

.app .section__pricing-table .price.price-enterprise .price__button {
  background: #fff;
  color: #ea4c89;
}

.app .section__pricing-table .price.price-enterprise .price__button:hover {
  background: #1769ff;
  color: #fff;
  border-color: #fff;
}
/*# sourceMappingURL=app.css.map */